<div class="form-container">
    <form class="form-details" action="" method="post">
        <label for="Cuisine" class="form-item">Cuisine:
            <input type="text" name="name">
        </label><br>
        <label for="Vegan" class="form-item">Vegan:
            <input type="checkbox" name="V">
        </label><br>
        <label for="Gluten Free" class="form-item">Gluten Free:
            <input type="checkbox" name="GF">
        </label><br>
        <label for="Minutes Away" class="form-item">How far do you want to travel?
            <input type="number" name="Time"></label><br>
        <button class="submit-button" type="button">Let's Eat</button>
    </form>
</div>