<div>
  {{#each restaurant}}
  <div>
    <ul>
      {{!-- change fields to be shown here --}}
      <li><img src="{{image}}" alt="{{name}}"></a></li>
      <li>{{name}}</li>
      <li>{{cuisine}}</li>

    </ul>


  </div>
  {{/each}}
</div>