<div>
  {{#each restaurant}}
  <div class="res-list">
    <div class="res-card">
      <ul class="res-inner">
        {{!-- change fields to be shown here --}}
        <li><img class="res-pic" src="{{image}}" alt="{{name}}"></a></li>
        <div class="res-details">
          <li>{{name}}</li>
          <li>{{cuisine}}</li>
        </div>
      </ul>
    </div>
  </div>
  {{/each}}
</div>