body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3AAFB9;
}

.header {
    display: flex;
    color: #051014;
    font-family: Bellota;
    font-size: 2.5rem;
}

.footer-basic {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-family: Bellota;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Bellota;
    padding: 20px;
}

.form-container .form-details .form-item {}

.form-container .submit-button {
    justify-content: center;
    background-color: transparent;
    border: 1px solid;
    font-family: Bellota;
    font-size: 20px;
    padding: 10px;
}