body {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3AAFB9;
}

.header {
    justify-content: flex-start;
    color: #051014;
    font-family: Bellota;
    font-size: 2.5rem;
}

.footer-basic {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.form-container {
    font-family: Bellota;
    padding: 20px;
}